<h1>You're part of 99Cats, <%= @user.user_name %>!</h1>
<p>
   To login to the site, just <%= link_to "click here", @login_url %>!
</p>
<p>
   Thanks again for joining, and we hope you find your purrrrfect cat!
</p>