<h1>Sign up to 99Cats!</h1>

<%= render "shared/errors" %>

<%= render "shared/user_form", mode: :new_user %>

<% content_for :footer do %>
   <p>You are registering for access to 99Cats.</p>
<% end %>