<h1>Update <%= @cat.name %>'s details!</h1>

<%= render "shared/errors" %>
<%= render "form", cat: @cat %>

<% content_for :footer do %>
   <p>You are editing <%= @cat.name %>'s profile.</p>
<% end %>